<% content_for :title do -%>
The best of amateur writing in one simple, mobile-friendly website.
<% end -%>
<% content_for :description do -%>
Koal curates over <%= Story.count %> stories (from <%= Author.count %> authors) — amateur writing from all across the internet and presents it in a readable, mobile-friendly form.
<% end -%>

<%= render "header" -%>

<main>
  <section class="about mb-10">
    <h1>Koal</h1>
    <p>Koal collects the best of amateur writing in one simple, mobile-friendly website.</p>
    <p>All stories here are curated, “best of the best” collections from years of reading amateur fiction, fan-fiction, and erotica from the nooks & corners of the Internet. Many stories are now hard to find & only available on obscure sites or newsgroups, or behind paywalls. This is an effort to consolidate all of them in a single place, and also build a beautiful reading experience to enjoy these timeless words.</p>
  </section>
  <section class="stories">
  <h2>Stories</h2>
  <ul class="list-reset mt-10 mb-5">
  <% @stories.each do |story| -%>
  <li>
    <h4><%= story.name %> by <%= story.author.name %></h4>
    <p><%= story.description %></p>
  <% if story.sensitive_content_warning -%>
    <p>Warning: <%= story.sensitive_content_warning %></p>
  <% end -%>
    <a href="<%= story_path(id: story.id, slug: story.slug) %>" class="button">Read</a>
  </li>
  <% unless story == @stories.last -%><hr /><% end -%>
  <% end -%>
  </ul>
  </section>
</main>

<%= render "footer" -%>
