<%= render "index_meta" -%>
<%= render "index_header" -%>

<section class="container index">
<h2>Stories</h2>
<ul class="list-reset">
<% @stories.each do |story| -%>
<li>
  <h4><%= story.name %> by <%= story.author.name %></h4>
  <p><%= story.description %></p>
  <a href="<%= story_path(id: story.id, slug: story.slug) %>" class="button">Read</a>
</li>
<% unless story == @stories.last -%><hr /><% end -%>
<% end -%>
</ul>
</section>

<%= render "index_footer" -%>
