<%= render "index_meta" -%>
<%= render "index_header" -%>

<section class="container index">
<h2>Upload Story</h2>
<% if flash.notice -%>
<div class="flash-notice"><%= flash.notice %></div>
<% end -%>
<% if flash.alert %>
<div class="flash-alert"><%= flash.alert %></div>
<% end %>
<%= form_for @story do |f| %>
  <%= f.file_field :zipfile, { class: 'appearance-none mb-10 rounded w-full inline-block rounded', accept: 'application/zip, application/octet-stream' } %>
  <%= f.submit "Upload", { class: 'button' } %>
<% end %>
</section>

<%= render "index_footer" -%>