<% content_for :title do -%><%= @story.name %> by <%= @story.author.name %><% end -%>
<% content_for :description do -%><%= @story.description %><% end -%>

<%= render "header" -%>

<main>
<p><%= @story.author.name %></p>
<h2><%= @story.name %></h2>
<% if @chapter.first? && @story.intro -%>
  <blockquote>
    <%= @story.intro.html_safe %>
  </blockquote>
<% end -%>
  <h3><%= @chapter.title %></h3>
  <%= @chapter.contents.html_safe %>
<% if @chapter.last? && @story.outro -%>
  <blockquote>
    <%= @story.outro.html_safe %>
  </blockquote>
<% end -%>
</main>

<footer class="container">
  <nav class="flex-1">
<% unless @chapter.first? -%>
    <a class="button" href="<%= story_path(id: @story.id, slug: @story.slug, chapter_order: @chapter.order - 1) %>">Previous Chapter</a>
<% end -%>
<% unless @chapter.last? -%>
    <a class="button" href="<%= story_path(id: @story.id, slug: @story.slug, chapter_order: @chapter.order + 1) %>">Next Chapter</a>
<% end -%>
  </nav>
  <small class="w-1/3 md:w-auto"><%= @story.copyright_notice %></small>
</footer>