<!DOCTYPE html>
<html>
  <head>
    <title>Koal<%= content_for(:title) ? " » #{yield :title}" : "" %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="rating" content="mature"/>
    <% if content_for(:description) -%>
      <meta name="description" content="<%= yield :description %>" />
    <% end -%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
